In [1]:
import numpy as np
from scipy.stats import norm
from src.scale import scale
from src.sim import sim
from model.pcr import PCR
from model.pls import PLS
from model.ridge import Ridge


x = np.loadtxt("./data/x.txt", delimiter=",")
y = np.loadtxt("./data/y.txt", delimiter=",")
index = np.loadtxt("./data/index.txt", delimiter=",", dtype=bool)
names = np.loadtxt("./data/names.txt", delimiter=",", dtype=str)
x, _, _ = scale(x)
x_train = x[index]
x_test = x[~index]
y_train = y[index]
y_test = y[~index]
n, p = x_train.shape
pcr1 = PCR(x_train, y_train, names[0:p], is_scale=True, is_var_exp=True)
pcr1.pcr()
# pcr1.b
pcr1.cv(n)
pcr1.report_coe()
pcr1.report_var_exp()
pcr1.predict_err(x_test, y_test)
pcr1.test_err(x_test, y_test)

   err_mean   err_std
0  0.545192  0.174140
1  0.720011  0.237154
2  0.514112  0.132185
3  0.536946  0.127903
4  0.540274  0.126829
5  0.479880  0.122634
6  0.448309  0.104437
7  0.521274  0.178724

In [2]:
is_scale = False
is_var_exp = True
pls1 = PLS(x_train, y_train, names[0:p], is_scale, is_var_exp)
pls1.pls()
pls1.report_var_exp()
pls1.cv(n)
pls1.report_coe()
pls1.predict_err(x_test, y_test)
pls1.test_err(x_test, y_test)

   err_mean   err_std
0  0.533392  0.155954
1  0.526937  0.150380
2  0.427048  0.113390
3  0.500771  0.153937
4  0.505514  0.168831
5  0.520620  0.177773
6  0.521386  0.178557
7  0.521274  0.178724

In [3]:
inter = False
is_scale = True
Lam = [1, 2, 3, 4, 5]
ridge1 = Ridge(x_train, y_train, inter, is_scale, Lam)
ridge1.cv(n)
ridge1.ridge()
ridge1.predict_err(x_test, y_test)

0.49686539682046743

In [4]:
###################################
n, p, rho = 100, 30, 0.5
mu = norm.rvs(size=p, scale=1)
beta0, beta1 = 0.5, 0.5 * np.ones(p, dtype=float)
x, y = sim(n, p, rho, mu, beta0, beta1)
n1 = 2000
x1, y1 = sim(n, p, rho, mu, beta0, beta1)
names = list(range(p))
pcr1 = PCR(x, y, names, is_scale=True, is_var_exp=True)
pcr1.pcr()
# pcr1.b
pcr1.cv(n)
pcr1.report_coe()
pcr1.report_var_exp()
pcr1.predict_err(x1, y1)
pcr1.test_err(x1, y1)

     err_mean   err_std
0   19.333303  2.674193
1    6.679483  0.961777
2    6.637606  0.977247
3    3.276932  0.469549
4    3.246804  0.460500
5    3.024875  0.434565
6    3.009706  0.431776
7    2.750281  0.436789
8    1.844056  0.237625
9    1.499565  0.198839
10   1.464806  0.191421
11   1.454772  0.187021
12   1.453972  0.188745
13   1.455654  0.190210
14   1.460968  0.190391
15   1.491528  0.192084
16   1.480815  0.190967
17   1.547641  0.200156
18   1.487820  0.185292
19   1.465700  0.180899
20   1.413085  0.173792
21   1.519670  0.195517
22   1.626082  0.210726
23   1.716674  0.219107
24   1.717150  0.219239
25   1.768037  0.227732
26   1.772260  0.227133
27   1.780295  0.226040
28   1.768520  0.225115
29   1.764334  0.224333

In [5]:
is_scale = False
is_var_exp = True
pls1 = PLS(x, y, names, is_scale, is_var_exp)
pls1.pls()
pls1.report_var_exp()
pls1.cv(n)
pls1.report_coe()
pls1.predict_err(x1, y1)
pls1.test_err(x1, y1)

    err_mean   err_std
0   2.707551  0.358220
1   1.703593  0.216606
2   1.517526  0.185126
3   1.522097  0.184723
4   1.623179  0.201935
5   1.702450  0.213228
6   1.738894  0.221190
7   1.747973  0.221748
8   1.755779  0.222739
9   1.761977  0.223837
10  1.766285  0.224401
11  1.766732  0.224460
12  1.765191  0.224305
13  1.765439  0.224396
14  1.764938  0.224324
15  1.764391  0.224334
16  1.764277  0.224328
17  1.764276  0.224326
18  1.764327  0.224333
19  1.764320  0.224330
20  1.764324  0.224331
21  1.764332  0.224332
22  1.764333  0.224333
23  1.764334  0.224333
24  1.764334  0.224333
25  1.764334  0.224333
26  1.764334  0.224333
27  1.764334  0.224333
28  1.764334  0.224333
29  1.764334  0.224333

In [6]:
inter = False
is_scale = True
Lam = [1, 2, 3, 4, 5]
ridge1 = Ridge(x, y, inter, is_scale, Lam)
ridge1.cv(n)
ridge1.ridge()
ridge1.predict_err(x1, y1)

1.7240137089932321